@use "Utils" as *;
@use "Components" as *;
@use "Layout" as *;
@use "Pages" as *;




/******************************** Général ************************************/
:root{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    min-width: 300px;
    box-sizing: border-box;   
}


// input hidden
.hidden{
    display:none;
}



/************** localisation et bouton de navigation *****************/

.location{
    background-color: $grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    gap: 17px;
    margin: 0;
    
    .location__text{
        font-size:16px;
        font-weight: 500;
        cursor:default;
    }
}

.Hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    margin: 0;
    padding: 40px 0 60px 0;
    gap: 20px;
    background-color: $light_grey;
    text-align: center; 
    
    .Hero__title{
        @media (min-width:769px){
            font-size: 40px;
        }
    }
    .Hero__button{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        height: 50px;
        width: 218px;
        margin-top: 10px;
        border-radius: 25px ;
        color: $white;
        font-size: 16px;
        font-weight: 500;
        background:$btn-background;
        box-shadow:0px 4px 10px rgba(0, 0, 0, 0.25);

    /* Pseudo-element "after" & "before" ajoutés au code, activés 
    sur 'hover' avec la propriété 'opacity', pour des questions 
    de performances */    
        &:hover, &:active{
            &::after{
              opacity:1;
            }
            &::before{
              opacity:1;
            }
           }
          &::after{
            border-radius: 25px;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: $btn-background--light;
            opacity: 0;
            z-index: -1;
            transition: opacity 400ms;        
          }
          &::before{
            border-radius: 25px;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity:0;
            z-index: -1;
            transition: opacity 400ms;
            box-shadow:0px 4px 10px rgba(0, 0, 0, 0.35);
          }
    }
}





/**************** fonctionnement du site *********************/

.explanation {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 60px 20px;
    gap: 20px;

    @media (min-width:769px){   
        max-width: 1200px;
        margin:0 auto; 
      }
   
    .explanation__title {
        align-self: flex-start;
        padding-bottom: 10px;       
    }
    .explanation__flexbox{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 0 12px;
        
        @media (min-width:769px) {
            flex-direction: row;
        }    
            
        &__card {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: center;                     
            padding-left: 40px;
            padding-right: 20px;
            border-radius: 20px;            
            background-color: $light_grey;
            height: 72px;
            gap: 25px;
            box-shadow:0px 4px 15px rgba(0, 0, 0, 0.15);

            @media (min-width:769px) {
                flex: 1 1 30%;
            }

            &__number {
                position: absolute;
                left: -12px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color:$purple;
                height: 24px;
                width: 24px;
                border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
                color: white;
            }
            &__icon {
                color: $dark_grey;
            }
            &__icon--purple {
                color: $purple;
            }
            &__text {
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
}





/* Cartes de restaurants */

.section__background--color{
    background-color: $light_grey;   
}

.restaurants {
    padding: 60px 30px;

    @media (min-width:769px){   
        max-width: 1160px;
        margin:0 auto; 
      }
    
    &__title {
        padding-bottom: 28px;
    }

    &__flexbox{
        display: flex;
        flex-direction: column;
        gap:18px;

        @media (min-width:769px) {
            flex-flow: row wrap;
            column-gap: 100px; 
            row-gap: 50px;           
        } 

        &__card{
            position: relative;
            z-index: 1;
            background-color: $white;
            border-radius: 15px;
            flex: 1 1 40%;
            box-shadow:0px 4px 5px rgba(0, 0, 0, 0.10);
            
            &:hover{
                &::after{
                    opacity: 1;
                }   
            }
            &::after{
                content: "";
                position: absolute;
                border-radius: 15px;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                opacity: 0;
                z-index: -1;
                box-shadow:0px 4px 10px rgba(0, 0, 0, 0.20);
                transition: opacity 400ms;
            }

            &__img{
                object-fit: cover;
                width: 100%;
                height: 231px;
                border-radius: 15px 15px 0 0;
                z-index: 1;
            }
            &__new{
                position: absolute;
                z-index: 2;
                top: 8px;
                right: 20px;
                font-size: 14px;
                font-weight: 500;
                color: $green;
                background-color: $light_green;
                width: 80px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 2px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
            }            
            &__content{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;                
                padding: 10px 20px;
                
                &__text{
                    gap: 0;

                        a{
                          font-size: 17px;
                          font-weight: 300;
                        }
                         a::before{
                            content: '';
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            height: 100%;
                            width: 100%;
                        } 
                }
            }
        }
    }
}




/* footer */

.footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: $darker_grey;
    padding: 20px 20px 30px 20px;

    @media (min-width:1024px){
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-start;
        padding: 40px 60px 20px 0px;
        gap: 80px;
    }

    &__logo {
        width: 139px;
        height: 27px;
        padding: 20px 0;
        filter: invert(1);   
    }

    &__links {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        color: $white;
        gap: 10px;

        @media (min-width:1024px){
            flex-direction: row;
            align-items: flex-end;
            
            &--bold:nth-child(2){
                margin-right: 30px;
            }            
        }

        &--bold {
            font-size: 16px;
            font-weight: 500;
            display: flex;
            justify-content: flex-start;
            gap: 12px;

            .fa-solid{
                width: 16px;
            }

        }
        &--simple {
            font-size: 16px;
            font-weight: 300;
        }
            
    }
}

