@use "../Utils" as *;


//Styling the loaders
.webpage__loader{  
    position:fixed;
    opacity:1;
    //position 50% from the top/left, minus half the height/width of the element.		
    top:calc(50% - 25px);
    left:calc(50% - 25px);
    width: 50px;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    box-sizing:border-box;
    border-radius:50%;
    border: 5px solid $purple;
    border-bottom-color: transparent;
    border-right-color:transparent;  
    animation:spin 1s infinite linear, 
      fadeOut 0.5s 2s linear forwards;
    
    &::after{
      content:"";
      opacity:inherit;		
      width: 40px;
      height: 40px;      
      box-sizing:border-box;
      border-radius:50%;
      border: 5px solid $pink;
      border-top-color: transparent;
      border-left-color:transparent;  
      animation:spin 4s infinite;
    }
}


// Load the elements of the website
.loaded {
  opacity: 0;
  animation:load_fadeIn 1s ease 2s forwards;
}