@charset "UTF-8";
/**************** Colors ******************/
/* $btn-background--light:linear-gradient(0deg, $faded_purple, $faded_pink); */
.background__img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

/******************************** Général ************************************/
* {
  font-family: "roboto";
}

h1, h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

p {
  font-size: 18px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
  scroll-snap-type: none;
  scroll-behavior: smooth;
  font-size: 17px;
  font-weight: 300;
}

h1, h2, h3, p, a {
  padding: 0;
  margin: 0;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fa-heart {
  z-index: 2;
  transition: transform 500ms;
}
.fa-heart:hover {
  transform: scale(0.8);
}

/** Loader *********************/
/* **************************************************** */
:root {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-width: 300px;
  box-sizing: border-box;
}

.main__container {
  display: block;
}

/******************** header********************************** */
.headerbar {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  height: 63px;
  margin: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 2;
}
.headerbar .headerbar__logo {
  width: 197px;
  height: 36px;
  padding-top: 14px;
}
.headerbar .headerbar__link {
  position: absolute;
  left: 20px;
  align-self: center;
}

/************** localisation et bouton de recherche *****************/
.location {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 17px;
  margin: 0;
}
.location .location__text {
  font-size: 16px;
  font-weight: 500;
  cursor: default;
}

.Hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 40px 0 60px 0;
  gap: 20px;
  background-color: #F6F6F6;
  text-align: center;
}
@media (min-width: 769px) {
  .Hero .Hero__title {
    font-size: 40px;
  }
}
.Hero .Hero__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  height: 50px;
  width: 218px;
  margin-top: 10px;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(0deg, rgb(147, 86, 220), rgb(255, 121, 218));
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.Hero .Hero__button:hover::after {
  opacity: 1;
}
.Hero .Hero__button:hover::before {
  opacity: 1;
}
.Hero .Hero__button::after {
  border-radius: 25px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, #a16be0, #ff93e1);
  opacity: 0;
  z-index: -1;
  transition: opacity 400ms;
}
.Hero .Hero__button::before {
  border-radius: 25px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 400ms;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
}

/*************************** fonctionnement du site *********************/
.explanation {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 60px 20px;
  gap: 20px;
}
@media (min-width: 1024px) {
  .explanation {
    padding: 60px 120px;
  }
}
.explanation .explanation__title {
  align-self: flex-start;
  padding-bottom: 10px;
}
.explanation .explanation__flexbox {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 12px;
}
@media (min-width: 769px) {
  .explanation .explanation__flexbox {
    flex-direction: row;
  }
}
.explanation .explanation__flexbox__card {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 40px;
  padding-right: 20px;
  border-radius: 20px;
  background-color: #F6F6F6;
  height: 72px;
  gap: 25px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
@media (min-width: 769px) {
  .explanation .explanation__flexbox__card {
    flex: 1 1 30%;
  }
}
.explanation .explanation__flexbox__card__number {
  position: absolute;
  left: -12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(147, 86, 220);
  height: 24px;
  width: 24px;
  border-radius: 50% 50% 50% 50%/50% 50% 50% 50%;
  color: white;
}
.explanation .explanation__flexbox__card__icon {
  color: #7E7E7E;
}
.explanation .explanation__flexbox__card__icon--purple {
  color: rgb(147, 86, 220);
}
.explanation .explanation__flexbox__card__text {
  font-size: 16px;
  font-weight: 500;
}

/* Cartes de restaurants */
.restaurants {
  background-color: #F6F6F6;
  padding: 60px 30px;
}
@media (min-width: 1024px) {
  .restaurants {
    padding: 60px 120px;
  }
}
.restaurants__title {
  padding-bottom: 28px;
}
.restaurants__flexbox {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media (min-width: 769px) {
  .restaurants__flexbox {
    flex-flow: row wrap;
    column-gap: 100px;
    row-gap: 50px;
  }
}
.restaurants__flexbox__card {
  position: relative;
  z-index: 1;
  background-color: white;
  border-radius: 15px;
  flex: 1 1 40%;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}
.restaurants__flexbox__card:hover::after {
  opacity: 1;
}
.restaurants__flexbox__card::after {
  content: "";
  position: absolute;
  border-radius: 15px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: opacity 400ms;
}
.restaurants__flexbox__card__img {
  object-fit: cover;
  width: 100%;
  height: 231px;
  border-radius: 15px 15px 0 0;
  z-index: 1;
}
.restaurants__flexbox__card__new {
  position: absolute;
  z-index: 2;
  top: 8px;
  right: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #008766;
  background-color: #99E2D0;
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.restaurants__flexbox__card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.restaurants__flexbox__card__content__text {
  gap: 0;
}
.restaurants__flexbox__card__content__text a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #353535;
  padding: 20px 20px 30px 20px;
}
@media (min-width: 1024px) {
  .footer {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 20px 10px 0px;
    gap: 60px;
  }
}
.footer__logo {
  width: 139px;
  height: 27px;
  padding: 20px 0;
  filter: invert(1);
}
@media (min-width: 1024px) {
  .footer__logo {
    padding: 20px;
  }
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (min-width: 1024px) {
  .footer__nav {
    flex-direction: row;
    align-items: flex-end;
    gap: 30px;
  }
}
.footer__nav__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  gap: 10px;
}
@media (min-width: 1024px) {
  .footer__nav__links {
    flex-direction: row;
  }
}
.footer__nav__links--bold {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  gap: 12px;
}
.footer__nav__links--simple {
  font-size: 16px;
  font-weight: 300;
}

/******** Pages de Menu des restaurants *************************/

/*# sourceMappingURL=style.css.map */
