/**************** Colors ******************/
/* Carte des menus restaurants */
@keyframes spinningIn {
  0% {
    transform: rotate(360deg);
    opacity: 0;
  }
  25% {
    transform: rotate(180deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}
@keyframes spinningOut {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  75% {
    transform: rotate(180deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes crescendo {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  50% {
    opacity: 0.5;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fill-in {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0.6);
  }
  50% {
    transform: scale(1.4);
  }
  75% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fill-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.5);
    opacity: 0;
  }
}
/* Animation du loader*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Transition Loader > website*/
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes load_fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.Hero .Hero__button, .order__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  height: 50px;
  width: 218px;
  margin-top: 10px;
  border-radius: 25px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  background: linear-gradient(0deg, rgb(147, 86, 220), rgb(255, 121, 218));
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.Hero .Hero__button:hover::after, .order__button:hover::after {
  opacity: 1;
}
.Hero .Hero__button:hover::before, .order__button:hover::before {
  opacity: 1;
}
.Hero .Hero__button::after, .order__button::after {
  border-radius: 25px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, #9e67e0, #ff8de0);
  opacity: 0;
  z-index: -1;
  transition: opacity 400ms;
}
.Hero .Hero__button::before, .order__button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 400ms;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.webpage__loader {
  position: fixed;
  opacity: 1;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 50%;
  border: 5px solid rgb(147, 86, 220);
  border-bottom-color: transparent;
  border-right-color: transparent;
  animation: spin 1s infinite linear, fadeOut 0.5s 2s linear forwards;
}
.webpage__loader::after {
  content: "";
  opacity: inherit;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 5px solid rgb(255, 121, 218);
  border-top-color: transparent;
  border-left-color: transparent;
  animation: spin 4s infinite;
}

.loaded {
  opacity: 0;
  animation: load_fadeIn 1s ease 2s forwards;
}

.heart__like {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 4;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.heart__like input:checked ~ .heart--regular {
  opacity: 0;
}
.heart__like input:checked ~ .heart--solid {
  opacity: 1;
  animation: fill-in 500ms ease-in forwards;
}
.heart__like input:not(:checked) ~ .heart--regular {
  opacity: 1;
  transition: opacity 200ms;
}
.heart__like input:not(:checked) ~ .heart--solid {
  animation: fill-out 500ms forwards;
}
.heart__like .fa-heart {
  display: block;
  position: absolute;
}
.heart__like .heart--regular {
  transform-origin: center bottom;
  transition: opacity 600ms;
  opacity: 1;
}
.heart__like .heart--solid {
  opacity: 0;
  z-index: 4;
  color: transparent;
  line-height: 1;
  transition: opacity 0ms;
  background-image: linear-gradient(0deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  background-origin: border-box;
  background-clip: text;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
  transform-origin: center bottom;
}

:root {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-width: 300px;
  box-sizing: border-box;
}

* {
  font-family: "roboto", "shrikhand";
}

h1, h2, h3, p, a {
  padding: 0;
  margin: 0;
}

h1, h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

p {
  font-size: 18px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
  scroll-snap-type: none;
  scroll-behavior: smooth;
  font-size: inherit;
  font-weight: inherit;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

.headerbar {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  height: 63px;
  margin: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 255);
  z-index: 100;
}
.headerbar .headerbar__logo {
  width: 197px;
  height: 36px;
  padding-top: 14px;
}
.headerbar .headerbar__link {
  position: absolute;
  left: 20px;
  align-self: center;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #353535;
  padding: 20px 20px 30px 20px;
}
@media (min-width: 1024px) {
  .footer {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 60px 20px 0px;
    gap: 80px;
  }
  .footer .footer__links {
    flex-direction: row;
    align-items: flex-end;
  }
  .footer .footer__links--bold:nth-child(2) {
    margin-right: 40px;
  }
}
.footer a:hover {
  text-decoration: underline;
}
.footer__logo {
  width: 139px;
  height: 27px;
  padding: 20px 0;
  filter: invert(1);
}
.footer__links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: rgb(255, 255, 255);
  gap: 10px;
}
.footer__links--bold {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  gap: 12px;
}
.footer__links--bold .fa-solid {
  width: 16px;
}
.footer__links--simple {
  font-size: 16px;
  font-weight: 300;
}

/*************** Image de fond du restaurant **************/
.background__img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}
@media (min-width: 769px) {
  .background__img {
    height: 383px;
  }
}

/***** Section affichage du menu *******************/
.menu {
  border-radius: 30px 30px 0 0;
  background-color: #F6F6F6;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: -50px 0 0 0;
  padding: 50px 50px;
}
@media (min-width: 769px) {
  .menu {
    max-width: 1055px;
    margin: -50px auto 0 auto;
    padding: 50px 150px;
    box-sizing: border-box;
  }
}

/******* Titre principal, restaurant*******/
.menu__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  letter-spacing: 1px;
  gap: 40px;
}
.menu__title > h1 {
  font-family: "shrikhand";
  font-size: 28px;
  font-weight: 400;
}

/*   */
.menu__body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu__subtitle {
  font-size: 16px;
  font-weight: 300;
  height: 27px;
  position: relative;
}
.menu__subtitle::after {
  content: "";
  position: absolute;
  width: 40px;
  left: 0px;
  bottom: 0px;
  height: 3px;
  background: #99E2D0;
}

/* cartes et leur contenu */
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu__list .dishcard {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 70px;
  border-radius: 15px;
  padding: 0 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
.menu__list .dishcard__content {
  display: flex;
  flex-flow: column nowrap;
  gap: 5px;
  overflow: hidden;
  white-space: nowrap;
}
.menu__list .dishcard__content__title {
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__list .dishcard__content__subtitle {
  font-size: 15px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__list .dishcard__price {
  display: flex;
  align-self: flex-end;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 15px;
  transition: margin 800ms ease-in-out;
}
.menu__list .dishcard__check {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  color: rgb(255, 255, 255);
  transition: transform 800ms ease-in-out;
}
.menu__list .dishcard__check .fa-check-circle {
  transition: transform 1s ease-in-out;
  animation: spinningOut 1s ease-out;
}

.dishcard input:checked ~ .dishcard__check {
  transform: translateX(-70px);
}

.dishcard input:checked ~ .dishcard__price {
  margin-right: 70px;
}

.dishcard input:checked ~ .dishcard__check .fa-check-circle {
  animation: spinningIn 700ms 200ms both ease-in;
}

/* aparition progressive des cartes */
.dishcard {
  animation: crescendo 800ms linear both;
  opacity: 0;
}
.dishcard--1 {
  animation-delay: 300ms;
}
.dishcard--2 {
  animation-delay: 600ms;
}
.dishcard--3 {
  animation-delay: 900ms;
}
.dishcard--4 {
  animation-delay: 1200ms;
}

/* Bouton "Commander" */
.order__button {
  align-self: center;
}

.location__form {
  background-color: #EAEAEA;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
}
.location__form__input {
  font-size: 16px;
  font-weight: 500;
  border: none;
  outline: none;
  background: inherit;
  text-overflow: clip;
}
.location__form__input::placeholder {
  font: inherit;
  opacity: 0.6;
}

.Hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 40px 0 60px 0;
  gap: 20px;
  background-color: #F6F6F6;
  text-align: center;
}
@media (min-width: 769px) {
  .Hero__title {
    font-size: 40px;
  }
}
/**************** fonctionnement du site *********************/
.explanation {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 60px 20px;
  gap: 20px;
}
@media (min-width: 769px) {
  .explanation {
    max-width: 1200px;
    margin: 0 auto;
  }
}
.explanation .explanation__title {
  align-self: flex-start;
  padding-bottom: 10px;
}
.explanation .explanation__flexbox {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 12px;
}
@media (min-width: 769px) {
  .explanation .explanation__flexbox {
    flex-direction: row;
  }
  .explanation .explanation__flexbox__card {
    flex: 1 1 30%;
  }
}
.explanation .explanation__flexbox__card {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 40px;
  padding-right: 20px;
  border-radius: 20px;
  background-color: #F6F6F6;
  height: 72px;
  gap: 25px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  cursor: default;
}
.explanation .explanation__flexbox__card:hover::before {
  opacity: 1;
}
.explanation .explanation__flexbox__card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  opacity: 0;
  z-index: -1;
  transition: opacity 400ms;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.12);
}
.explanation .explanation__flexbox__card__number {
  position: absolute;
  left: -12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(147, 86, 220);
  height: 24px;
  width: 24px;
  border-radius: 50% 50% 50% 50%/50% 50% 50% 50%;
  color: white;
}
.explanation .explanation__flexbox__card__icon {
  color: #7E7E7E;
}
.explanation .explanation__flexbox__card__icon--purple {
  color: rgb(147, 86, 220);
}
.explanation .explanation__flexbox__card__text {
  font-size: 16px;
  font-weight: 500;
}

/* Cartes de restaurants */
.section__background--color {
  background-color: #F6F6F6;
}

.restaurants {
  padding: 60px 30px;
}
@media (min-width: 769px) {
  .restaurants {
    max-width: 1160px;
    margin: 0 auto;
  }
  .restaurants .restaurants__flexbox {
    flex-flow: row wrap;
    column-gap: 50px;
    row-gap: 50px;
  }
}
@media (min-width: 769px) and (min-width: 1024px) {
  .restaurants .restaurants__flexbox {
    column-gap: 100px;
  }
}
.restaurants__title {
  padding-bottom: 28px;
}
.restaurants__flexbox {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurants__flexbox__card {
  position: relative;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  flex: 1 1 40%;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}
.restaurants__flexbox__card:hover::after {
  opacity: 1;
}
.restaurants__flexbox__card::after {
  content: "";
  position: absolute;
  border-radius: 15px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: opacity 400ms;
}
.restaurants__flexbox__card__img {
  object-fit: cover;
  width: 100%;
  height: 231px;
  border-radius: 15px 15px 0 0;
  z-index: 1;
}
.restaurants__flexbox__card__new {
  position: absolute;
  z-index: 2;
  top: 8px;
  right: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #008766;
  background-color: #99E2D0;
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.restaurants__flexbox__card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.restaurants__flexbox__card__content__text {
  gap: 0;
}
.restaurants__flexbox__card__content__text a {
  font-size: 17px;
  font-weight: 300;
}
.restaurants__flexbox__card__content__text a::before {
  content: "";
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*# sourceMappingURL=style.css.map */
