@use "../Utils/" as *;

    

  .location__form{
    background-color: $grey;
    height: 50px;
    margin: 0 auto;    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
  
    &__input{
        font-size:16px;
        font-weight: 500;
        border: none;
        outline: none;
        background:inherit;
        width: 115px;   

        &::placeholder{
          font: inherit;
          opacity: 0.6;
        }
    }
  }



.Hero{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;   
  margin: 0;
  padding: 40px 0 60px 0;
  gap: 20px;
  background-color: $light_grey;
  text-align: center; 
  
  @include breakpoint(769){
    &__title{
      font-size: 40px;
    }
  }

  .Hero__button{
      @extend %My_btn;
  }
}





/**************** How to navigate the website *********************/

.explanation {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 60px 20px;
  gap: 20px;

  @include breakpoint(769){   
      max-width: 1200px;
      margin:0 auto;
    }
 
  .explanation__title {
      align-self: flex-start;
      padding-bottom: 10px;       
  }
  .explanation__flexbox{
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 0 12px;
      
      @include breakpoint(769) {
        flex-direction: row;
          
        &__card{
          flex:1 1 30%;
        }
      }   
          
      &__card {
          position: relative;
          display: flex;
          justify-content: flex-start;
          align-items: center;                     
          padding-left: 40px;
          padding-right: 20px;
          border-radius: 20px;            
          background-color: $light_grey;
          height: 72px;
          gap: 25px;
          box-shadow:0px 4px 15px rgba($black, 0.15);
          cursor: default;

          &:hover{
            &::before{
              opacity:1;
            }
           }

          &::before{            
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 25px;
            opacity:0;
            z-index: -1;
            transition: opacity 400ms;
            box-shadow:0px 4px 15px rgba($black, 0.12);
          }

          &__number {
              position: absolute;
              left: -12px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color:$purple;
              height: 24px;
              width: 24px;
              border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
              color: white;
          }
          &__icon {
              color: $dark_grey;
          }
          &__icon--purple {
              color: $purple;
          }
          &__text {
              font-size: 16px;
              font-weight: 500;
          }
      }
  }
}





/* Restaurants Cards */

.section__background--color{
  background-color: $light_grey;   
}

.restaurants {
  padding: 60px 30px;

  @include breakpoint(769){   
      max-width: 1160px;
      margin:0 auto;

      & &__flexbox{
        flex-flow: row wrap;
        column-gap: 50px; 
        row-gap: 50px;

        @include breakpoint(1024){
          column-gap: 100px;
        }
      }
    }
  
  &__title {
      padding-bottom: 28px;
  }

  &__flexbox{
      display: flex;
      flex-direction: column;
      gap:18px;

      &__card{
          position: relative;
          z-index: 1;
          background-color: $white;
          border-radius: 15px;
          flex: 1 1 40%;
          box-shadow:0px 4px 5px rgba($black, 0.10);
          
          &:hover{
              &::after{
                  opacity: 1;
              }   
          }
          &::after{
              content: "";
              position: absolute;
              border-radius: 15px;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              opacity: 0;
              z-index: -1;
              box-shadow:0px 4px 10px rgba($black, 0.20);
              transition: opacity 400ms;
          }

          &__img{
              object-fit: cover;
              width: 100%;
              height: 231px;
              border-radius: 15px 15px 0 0;
              z-index: 1;
          }
          &__new{
              position: absolute;
              z-index: 2;
              top: 8px;
              right: 20px;
              font-size: 14px;
              font-weight: 500;
              color: $green;
              background-color: $light_green;
              width: 80px;
              height: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 2px;
              box-shadow: 0 2px 4px rgba($black, 0.15);
          }            
          &__content{
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;                
              padding: 10px 20px;
              
              &__text{
                  gap: 0;

                      a{
                        font-size: 17px;
                        font-weight: 300;
                      }
                       a::before{
                          content: "";
                          position: absolute;
                          z-index: 3;
                          top: 0;
                          right: 0;
                          bottom: 0;
                          left: 0;
                          
                      } 
              }
          }
      }
  }
}
