/**************** Colors ******************/

$purple:rgb(147,86,220);

$pink:rgb(255,121,218);

$faded_purple:rgba(147,86,220,0.8);

$faded_pink:rgba(255,121,218,0.8);

$navy_blue:#003A68;

$cyan:#89C8FA;

$green:#008766;

$light_green:#99E2D0;

$grey:#EAEAEA;

$light_grey:#F6F6F6;

$dark_grey:#7E7E7E;

$darker_grey:#353535;

$white:rgb(255,255,255);

$btn-background:linear-gradient(0deg, $purple, $pink);

$btn-background--light:linear-gradient(0deg, lighten($purple,5), lighten($pink,5));
/* $btn-background--light:linear-gradient(0deg, $faded_purple, $faded_pink); */




/************** Keyframes *********************/

/* Carte des menus restaurants */

@keyframes spinningIn {
  0% {
    transform: rotate(360deg);    
    opacity:0;
  }
  25%{
    transform: rotate(180deg);    
    opacity:0.5;
  }
  100% {
    transform: rotate(0deg);
    opacity:1;
  }
}

@keyframes spinningOut {
  0% {
    transform: rotate(0deg);
    opacity: 1;    
  }
  75% {
    transform: rotate(180deg);
    opacity: 0.5;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;    
  }
}

// aparition progressive des cartes des menus

@keyframes crescendo {
  0% {
    opacity: 0;
    transform:translateY(100%);
  }  
  50% {
    opacity: 0.5;
    transform:translateY(50%);
  }
  100% {
    opacity: 1;
    transform:translateY(0);
    
  }
}


// Animations des Coeurs 

@keyframes fill-in {
  0% {
     transform: scale(1);
  }
  50% {
     transform: scale(1.2);
  }
  100%{
     transform:scale(1);
  }
}

@keyframes fill-out {
  0% {
     transform: scale(1);
     opacity:1;
  }
  50% {
     transform: scale(0.5);
     opacity:0;
  }   
}

// LOADER

/* Animation du loader*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 


/* Transition Loader > website*/
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
} 

@keyframes load_fadeIn{
    from{
			opacity:0;
    }
    to{
       opacity:1;
	}
}